@font-face {
  font-family: "Sen-Bold";
  src: url("./assets/fonts/Sen/Sen-Bold.woff2") format("woff2"),
    url("./assets/fonts/Sen/Sen-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Sen-Regular";
  src: url("./assets/fonts/Sen/Sen-Regular.woff2") format("woff2"),
    url("./assets/fonts/Sen/Sen-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Source-San-Pro_Bold";
  src: url("./assets/fonts/Source-Pro/SourceSansPro-Bold.ttf") format("ttf");
  font-weight: 700;
  font-style: normal;
}
