* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

body {
  // TODO change color
  background-color: $c-white;
  font-size: $fs-base + px;
  font-family: $f-avenir;
  // TODO change color
  color: $c-white;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke: currentColor;
  fill: currentColor;
  &:not(.has-stroke) {
    stroke-width: 0;
  }
}

// Selection
*::selection {
  // TODO change color
  background-color: rgba($c-white, 0.3);
}

// Custom Scroll
*::-webkit-scrollbar {
  border-radius: 10px;
  position: relative;
  z-index: 999;
  width: 6px;
}

*::-webkit-scrollbar-track {
  // box-shadow: inset 0 0 3px rgba($c-purple, 1);
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
  // TODO change color
  box-shadow: inset 0 0 3px rgba($c-white, 0.8);
  background-color: rgba($c-white, 0.8);
  border-radius: 10px;
  outline: none;
}

.wrapper {
  max-width: 1200px;
  padding: 0 50px;
  margin: 0 auto;
  width: 100%;
}

a {
  text-decoration: none;
}
ul{
  list-style: none;
}
img,
svg {
  width: 100%;
  height: 100%;
}

// TODO Bootstrap
// @include media-breakpoint-down(sm) {
//   width: 300px;
// }

// TODO helper for border
// .h-border {
//   border: 1px solid $c-black;
// }
