* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

body {
  background-color: $c-white;
  font-size: $fs-base + px;
  font-family: $f-sen-regular;
  color: $c-white;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke: currentColor;
  fill: currentColor;
  &:not(.has-stroke) {
    stroke-width: 0;
  }
}

// Selection
*::selection {
  background-color: rgba($c-light-red, 0.3);
}

// Custom Scroll
*::-webkit-scrollbar {
  border-radius: 10px;
  position: relative;
  z-index: 999;
  width: 6px;
}

*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 3px rgba($c-light-red, 0);
  background-color: rgba($c-darker-grey, 0.6);
}

*::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 3px rgba($c-darker-grey, 1);
  background-color: rgba($c-darker-grey, 1);
  outline: none;
}

.wrapper {
  max-width: 1300px;
  padding: 0 50px;
  margin: 0 auto;
  width: 100%;

  @include media("<phone") {
    padding: 0 20px;
  }
}

a {
  text-decoration: none;
  &:hover {
    color: $c-white;
  }
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

img,
svg {
  width: 100%;
  height: 100%;
}

.l-common {
  padding-top: 75px;
}

// TODO Bootstrap
// @include media-breakpoint-down(sm) {
//   width: 300px;
// }

// TODO helper for border
// .h-border {
//   border: 1px solid $c-black;
// }
