// Colors
$c-white: #fff;
$c-light-pink: #f2505d;
$c-red: #f20707;
$c-light-red: #f25252;
$c-light-grey: #404040;
$c-darker-grey: #262626;
$c-black: #000;
// Fonts
$f-helvetica: "", sans-serif;
$f-avenir: "", sans-serif;

// Font size
$fs-base: 16;

// Transition
$t-normal: 0.35s cubic-bezier(0.4, 0, 0.2, 1);

// Box Shadow
// TODO change color
$bs-button: 0px 5px 5px 0px rgba($c-white, 0.1);
// TODO change color
$bs-container: 0px 4px 4px 0px rgba($c-white, 0.4);
