include ../_includes/elements/index
include ../_includes/components/index

doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
		//- Simptip tooltip
		link(rel="stylesheet" type="text/css" href="./node_modules/simptip/simptip.css")
		//- Favicon
		link(rel="shortcut icon" href="" type="image/x-icon")
		//- Main style
		link(rel='stylesheet' href='index.css')
		block style
		block title
			title Group project
	body
		include ../../assets/icon/common/symbol-defs.svg
		.l-common
			block content
		script(src="./index.js") 
