include ../_includes/elements/index
include ../_includes/components/index

doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
		link(rel='stylesheet' href='index.css')
		link(rel="shortcut icon" href="" type="image/x-icon")
		block style
		block title
			title Group project
	body
		//- include ../../assets/icons/common/symbol-defs.svg
		.l-common
			block content
		script(src="./index.js") 
