mixin banner(args)
  - let infoClass = args.infoClass ;
  - let infoHeader = args.infoHeader;
  - let infoText = args.infoText;
  - let style = args.style;

  .c-banner(style=style)
    .c-banner__wrapper
      .c-banner__info
        .c-banner__info__wrapper(class='c-banner__info' + infoClass) 
          h2.c-banner__info__main-title=infoHeader
          p.c-banner__info__sub-title=infoText
      .c-banner__button 
        .c-banner__button__wrapper
          +link({
            href: './index.html',
            button: true,
            text: 'Home',
            buttonColor: 'white'
          })
