mixin banner(args)
  - let src = args.src ;
  - let alt = args.alt ;
  - let infoClass = args.infoClass ;
  - let infoHeader = args.infoHeader;
  - let infoText = args.infoText;
  - let style = args.style;

  .c-banner(style=style)
    .c-banner__wrapper

      .c-banner__info  
        .c-banner__info__wrapper 
          h2(class="e-info__header " + infoClass)=infoHeader
          p(class="e-info__text " + infoClass)=infoText
      .c-banner__button 
        .c-banner__button__wrapper
          +link({
            href: './index.html',
            button: false,
            text: 'Home',
            lightText: true
          })