mixin banner(args)
  - let src = args.src ;
  - let alt = args.alt ;
  - let infoClass = args.infoClass ;
  - let infoHeader = args.infoHeader;
  - let infoText = args.infoText;
  - let style = args.style;

  .c-banner(style=style)
    .c-banner__wrapper.d-flex
      .c-banner__info
        h2(class="c-banner__info__main-title d-inline-block"+ infoClass)=infoHeader
        h4(class="c-banner__info__sub-title d-inline-block"+ infoClass)=infoText
          +link({
            href: './index.html',
            lightText: true,
            button: false,
            text: 'Shop Merch',
          })