mixin banner-info-covid()
  .c-section-banner-info-covid
    .c-section-banner-info-covid__wrapper 
      +banner({
        style: `background-image: linear-gradient(360deg, rgb(34, 34, 34), rgba(34, 34, 34, 0)), url('./assets/images/banner2.jpg')`,
        rightMode: true,
        colorMode: true,
        infoHeader: 'How we are keeping you safe during COVID-19',
        infoText: "As an outdoor shop, we’ve taken precautionary measures to ensure the safety of all our customers and team members.",
        linkText: 'Read Our Statement'
      })