mixin footer()
  footer.c-footer
    .c-footer__wrapper
      .c-footer__top.d-flex.justify-content-between
        .logo
          .logo__wrapper.d-flex.align-items-center
            +logo({
              name: 'logo',
              text: 'e-logo__text',
              whiteMode: true
            })
        .social-link
          +social-link({href:"https://twitter.com/?lang=ru", icon: "fa-twitter", target: "_blank"})
          +social-link({href:"https://facebook.com", icon: "fa-facebook", target: "_blank"})
          +social-link({href:"https://www.instagram.com/", icon: "fa-instagram", target: "_blank"})
      .c-footer__bot
        p.c-footer__bot__text.text-center Made in Beetroot. &#169;2021.