mixin header()

  header.c-header 
    .c-header__wrapper 
      .c-header__logo
        .c-header__logo__wrapper                                
          +logo({
            whiteMode: true,
          })
      +navigation()