mixin header()
  header.c-header
    .c-header__wrapper.wrapper

      //- Logo
      .c-header__logo                         
        +logo()

      //- Navigation list
      .c-header__navigation 
          +navigation()

