mixin header()

  header.c-header 
    .c-header__wrapper 
      .c-header__logo
        .c-header__logo__wrapper                                
          +logo({
            link: ' ./index.html',
            class: 'e-logo e-logo--white',
            name: 'circle',
            text: 'e-logo__text' 
          })
      +navigation()