mixin header()

  header.c-header
    .c-header__wrapper.wrapper

      //- Logo
      .c-header__logo                         
          +logo({
            whiteMode: true,
          })

      //- Navigation list
      .c-header__navigation 
        .c-header__navigation__wrapper
          +navigation()
          +burger-menu()
