mixin header()

  header.c-header 
    .c-header__wrapper 
      .c-header__logo
        .c-header__logo__wrapper                                
          +logo({
            whiteMode: true,
            link: './index.html',
            class: 'e-logo e-logo--white',
            name: 'logo',
            text: 'e-logo__text'
          })
      +navigation()