include ./loading
include ./header
include ./navigation
include ./banner
include ./footer

//- Home page
include ./banner-home-start
include ./section-services
include ./service-card
include ./section-recommendation
include ./banner-info-covid

//- About-us page
include ./banner-adventure
include ./section-advantages
include ./section-establishment
include ./section-about-us
include ./banner-contact-us

//- Contact page
include ./banner-contact
include ./section-form
include ./form-contact