mixin loading()
  .loading(class="wave")
    | Loading

  //- For Firefox
  //- .loading(class="loading-2 wave wave-2")
  //-   .ff
  //-     | For browsers that don't support background-clip:text:
  //-   .loading-2-text