mixin navigation()

  nav.c-navigation 
    ul.c-navigation__wrapper 
      li.c-navigation__item 
        +link({
          href: './index.html',
          button: false,
          text: 'Home',
          lightText: true
        })
      li.c-navigation__item 
        +link({
          href: './index.html',
          button: false,
          text: 'Home',
          lightText: true
        })
      li.c-navigation__item 
        +link({
          href: './index.html',
          button: false,
          text: 'Home',
          lightText: true
        })
      li.c-navigation__item 
        +link({
          href: './index.html',
          button: false,
          text: 'Home',
          lightText: true
        })