  //- Перша обгортка секції
.c-section.c-section-about
  //-Друга обгортка для колонок 
  .c-section-about__us
    img(src="../../../assets/img/girl01.png" alt="girl01").c-about__info
    .c-section-about__us.section-about__us-name Anna Bondarenko
    p.about-text Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rerum nisi, hic eligendi fuga sed recusandae earum qui voluptatem, illum facere suscipit. Nisi cumque obcaecati modi in quis commodi, cupiditate dolore.  
      //- Друга колонка
  .c-section-about__us
    img(src="../../../assets/img/boy02.png" alt="girl01").c-about__info
    .c-section-about__us.section-about__us-name Dmytro Fedin
    p.about-text Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rerum nisi, hic eligendi fuga sed recusandae earum qui voluptatem, illum facere suscipit. Nisi cumque obcaecati modi in quis commodi, cupiditate dolore.  
      //- Третя колонка
  .c-section-about__us
    img(src="../../../assets/img/girl01.png" alt="girl01").c-about__info
    .c-section-about__us.section-about__us-name Serhii Trytenko
    p.about-text Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rerum nisi, hic eligendi fuga sed recusandae earum qui voluptatem, illum facere suscipit. Nisi cumque obcaecati modi in quis commodi, cupiditate dolore.  
  .c-section-about__us
    img(src="../../../assets/img/girl01.png" alt="girl01").c-about__info
    .c-section-about__us.section-about__us-name Tatjana Bezkorovaina
    p.about-text Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rerum nisi, hic eligendi fuga sed recusandae earum qui voluptatem, illum facere suscipit. Nisi cumque obcaecati modi in quis commodi, cupiditate dolore.
  .c-section-about__us
    img(src="../../../assets/img/girl01.png" alt="girl01").c-about__info
    .c-section-about__us.section-about__us-name Pavlo Baliasnikov
    p.about-text Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rerum nisi, hic eligendi fuga sed recusandae earum qui voluptatem, illum facere suscipit. Nisi cumque obcaecati modi in quis commodi, cupiditate dolore.  
  .c-section-about__us
    img(src="../../../assets/img/girl01.png" alt="girl01").c-about__info
    .c-section-about__us.section-about__us-name Aleksei Pavlenko
    p.about-text Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rerum nisi, hic eligendi fuga sed recusandae earum qui voluptatem, illum facere suscipit. Nisi cumque obcaecati modi in quis commodi, cupiditate dolore.  
  .c-section-about__us
    img(src="../../../assets/img/girl01.png" alt="girl01").c-about__info
    .c-section-about__us.section-about__us-name Anastasiia Shtepa
    p.about-text Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rerum nisi, hic eligendi fuga sed recusandae earum qui voluptatem, illum facere suscipit. Nisi cumque obcaecati modi in quis commodi, cupiditate dolore.    