mixin section-description()
  section.c-section-description.wrapper#section-description
    .c-section-description__wrapper

      //- Section image
      .c-section-description__image 
        img(src="assets/images/section-description.png" alt="Image from description section")

      //- Section content
      .c-section-description__content

        //- Title
        .c-section-description__title 
          h4 We are a high-level data storage bank

        //- Text
        .c-section-description__text
          p The place to store various data that you can access at any time through the internet  and where you can carry it. 
          p This very flexible storage area has a high level of security. 
          p To enter into your own data you must enter the password that you created when you registered in this Data Warehouse. 

