mixin section-banner-home()
  .c-section-banner-home
    .c-section-banner-home__wrapper 
      +banner({
        style: `background-image: url('./assets/images/banner1.jpg')`,
        alt: 'man on mountain',
        infoHeader: 'Serving you since 1989.',
        infoText: "Acme Outdoors is an outdoor and adventure shop located in the Boathouse District in Oklahoma City."
      })