mixin section-about-us()
  section.c-section-about-us   
    .c-section-about-us__wrapper.wrapper 
      +photocard({
        src: './assets/photos/Anasteisha.png',
        alt: 'girl',
        photoCardName: 'Anna Bondarenko'
      })

      //- Друга колонка
      +photocard({
        src: './assets/photos/Dimooooon.png',
        alt: 'boy',
        photoCardName: 'Dmytro Fedin'
      })

      //- Третя колонка
      +photocard({
        src: './assets/photos/SerGO.png',
        alt: 'boy',
        photoCardName: 'Serhii Trytenko'
      })

      +photocard({
        src: './assets/photos/Tanuffka.png',
        alt: 'boy',
        photoCardName: 'Tatjana Bezkorovaina'
      })

      +photocard({
        src: './assets/photos/Pavlentiy.png',
        alt: 'boy',
        photoCardName: 'Pavlo Baliasnikov'
      })

      +photocard({
        src: './assets/photos/Oleksiychuk.jpg',
        alt: 'boy',
        photoCardName: 'Aleksei Pavlenko'
      })

      +photocard({
        src: './assets/photos/shtepa.png',
        alt: 'boy', 
        photoCardName: 'Anastasiia Shtepa'
      })

      +photocard({
        src: './assets/photos/vitalii.png',
        alt: 'boy', 
        photoCardName: 'Vitaly Liuklian'
      })
