mixin section-recommendation()
    section.section-recommendation.wrapper 
        .section-recommendation__wrapper
                                
            //Client Photo Only
            //section-recommendation = White Block
            .section-recommendation__clrecphoto
                img(src='../assets/rec/1.png', alt='Client Photo')

            //Client Recommendation Only
            //incl. Client Name; Project & Recommendation Date; Recommendation Text    
            //section-recommendation = Black Block
            .section-recommendation__clrecmain

                h1.section-recommendation__clrecname SOLODKUI Artur
                br          
                a(href='https://beetroot.academy/' data-tooltip='Click to go to the project').section-recommendation__clrecprdt.simptip-position-right.simptip-success
                    span WEB Site: https://solodkui.academy/

                p.section-recommendation__clrecprdt Period: 2021
                br
                p.section-recommendation__clrectext
                    | Hey guys! Last year I decided to open my own IT Academy.
                    br
                    br
                    | I needed a website that would have a minimalist design,
                    br
                    | and at same time stood out from competitors' websites.
                    br
                    br
                    | I contacted the BEETROOTERS Team to solve my case.
                    br
                    br
                    | The BEETROOTERS Team has developed the coolest site, as for me.
                    br
                    | Minimalistic design, well-chosen colors and excellent drawings.