mixin section-about-us()
  .c-section-about-us   
    .c-section-about-us__wrapper  
      +photocard({
        src: './assets/photos/ann.png',
        alt: 'girl',
        photoCardName: 'Anna Bondarenko'
      })

      //- Друга колонка
      +photocard({
        src: './assets/photos/dmytro.png',
        alt: 'boy',
        photoCardName: 'Dmytro Fedin'
      })

      //- Третя колонка
      +photocard({
        src: './assets/photos/sergii.png',
        alt: 'boy',
        photoCardName: 'Serhii Trytenko'
      })

      +photocard({
        src: './assets/photos/tatjana.png',
        alt: 'boy',
        photoCardName: 'Tatjana Bezkorovaina'
      })

      +photocard({
        src: './assets/photos/pavlo.png',
        alt: 'boy',
        photoCardName: 'Pavlo Baliasnikov'
      })

      +photocard({
        src: './assets/photos/alex.png',
        alt: 'boy',
        photoCardName: 'Aleksei Pavlenko'
      })

      +photocard({
        src: './assets/photos/shtepa.png',
        alt: 'boy', 
        photoCardName: 'Anastasiia Shtepa'
      })

      +photocard({
        src: './assets/photos/vitalii.png',
        alt: 'boy', 
        photoCardName: 'Vitaly Liuklian'
      })
