mixin section-about-us()
  section.c-section-about-us   
    .c-section-about-us__wrapper.wrapper 
      +photocard({
          src: './assets/photos/Anasteisha.jpg',
          alt: 'girl',
          photoCardName: 'Anna Bondarenko'
      })

      +photocard({
        src: './assets/photos/Dimooooon.jpg',
        alt: 'boy',
        photoCardName: 'Dmytro Fedin'
      })

      +photocard({
        src: './assets/photos/SerGO.jpg',
        alt: 'boy',
        photoCardName: 'Serhii Trytenko'
      })

      +photocard({
        src: './assets/photos/Tanuffka.jpg',
        alt: 'boy',
        photoCardName: 'Tatjana Bezkorovaina'
      })

      +photocard({
        src: './assets/photos/Pavlentiy.jpg',
        alt: 'boy',
        photoCardName: 'Pavlo Baliasnikov'
      })

      +photocard({
        src: './assets/photos/Oleksiychuk.jpg',
        alt: 'boy',
        photoCardName: 'Aleksei Pavlenko'
      })

      +photocard({
        src: './assets/photos/shtepa.jpg',
        alt: 'boy', 
        photoCardName: 'Anastasiia Shtepa'
      })

      +photocard({
        src: './assets/photos/vitalii.jpg',
        alt: 'boy', 
        photoCardName: 'Vitaly Liuklian'
      })
