mixin section-establishment()
  section.section-establishment
    .section-establishment__wrapper.wrapper
      .section-establishment__media.bg-white.text-dark
        p.section-establishment__media-text Classic
        iframe(width="500" height="350" src="https://www.youtube.com/embed/tgbNymZ7vqY?autoplay=1")
        p.section-establishment__media-text My day in 9 seconds
        video(width="500" height="250" controls poster="./assets/images/poster1.jpg")
          source(type="video/mp4" src="./assets/media/day.mp4")
        p.section-establishment__media-text Music for mood
        audio(controls)
          source(type="audio/mp3" src="./assets/media/ylvis-thefox.mp3")
      .section-establishment__meet.bg-dark.text-white
        h4.section-establishment__meet-title Meet the Owners
        br
        p.section-establishment__meet-text John and Jane met on a backpacking adventure in Nepal. John, a former sheep shearer, went on the trip to get some clarity about his next adventures in life. Jane — a Peloton instructor — went on the trip to explore the landscape in Nepal.
        br
        p.section-establishment__meet-text While on the trip, John and Jane realized that they had one common love — the love for hiking and the love for being outdoors.
        br
        p.section-establishment__meet-text Returning back to their home state of Oklahoma, John and Jane hatched a plan to launch a retail store centered around their passions.
        br
        p.section-establishment__meet-text While John handled the sourcing of goods and customer service, Jane focused on the web + e-commerce side of the business, building this website in the best design platform on the web — Webflow!
        br
        p.section-establishment__meet-text In 1989, John and Jane Doe officially launched Acme Outdoors, the premiere store for outdoor enthusiasts around the state.
        br
        p.section-establishment__meet-text To this day, John and Jane return to Nepal yearly to ensure that they never forget their roots and where they came from.