mixin section-advantages()
  section.section-advantages
    .section-advantages__wrapper.wrapper
      .section-advantages__header
        .section-advantages__title We’re the best in the business.
        .section-advantages__subtitle We studied at the Swedish-Ukrainian school Beetroot Academy for 4 months
      .section-advantages__row
        .section-advantages__column
          .item-advantages
            svg.icon-check-mark.item-advantages__icon
              use(xlink:href="#icon-check-mark")
            .item-advantages__title Lifetime Warranty
            .item-advantages__text All our products — whether we make them or not — are backed by lifetime warranty.
        .section-advantages__column
          .item-advantages
            svg.icon-shopping-cart.item-advantages__icon
              use(xlink:href="#icon-shopping-cart")
            .item-advantages__title Shopping Experience
            .item-advantages__text All our products — whether we make them or not — are backed by our lifetime warranty.
        .section-advantages__column
          .item-advantages
            svg.icon-delivery-truck-1.item-advantages__icon
              use(xlink:href="#icon-delivery-truck-1")
            .item-advantages__title On-time Delivery
            .item-advantages__text All our products — whether we make them or not — are backed by our lifetime warranty.
        .section-advantages__column
          .item-advantages
            svg.icon-chat.item-advantages__icon
              use(xlink:href="#icon-chat")
            .item-advantages__title Best in Class Service
            .item-advantages__text All our products — whether we make them or not — are backed by our lifetime warranty.
