mixin section-advantages()
  section.section-advantages
    .section-advantages__wrapper
      .section-advantages__header
        .section-advantages__title We’re the best in the business.
        .section-advantages__subtitle From more than 30 years, we’ve been leading the way across Oklahoma — creating the best possible customer experience since 1989.
      .section-advantages__row
        .section-advantages__column
          .item-advantages
            svg.icon-check-mark
              use(xlink:href="#icon-check-mark").item-advantages__icon
            .item-advantages__title Lifetime Warranty
            .item-advantages__text All our products — whether we make them or not — are backed by lifetime warranty.
        .section-advantages__column
          .item-advantages
            svg.icon-shopping-cart
              use(xlink:href="#icon-shopping-cart").item-advantages__icon
            .item-advantages__title Shopping Experience
            .item-advantages__text All our products — whether we make them or not — are backed by our lifetime warranty.
        .section-advantages__column
          .item-advantages
            svg.icon-delivery-truck-1
              use(xlink:href="#icon-delivery-truck-1").item-advantages__icon
            .item-advantages__title On-time Delivery
            .item-advantages__text All our products — whether we make them or not — are backed by our lifetime warranty.
        .section-advantages__column
          .item-advantages
            svg.icon-chat
              use(xlink:href="#icon-chat").item-advantages__icon
            .item-advantages__title Best in Class Service
            .item-advantages__text All our products — whether we make them or not — are backed by our lifetime warranty.

