mixin section-advantages()
  section.c-section-advantages
    .c-section-advantages__wrapper.wrapper
      .c-section-advantages__header
        h2.c-section-advantages__title We’re the best in the business. 
        h6.c-section-advantages__subtitle We studied at the Swedish-Ukrainian school Beetroot Academy for 4 months
      ul.c-section-advantages__content
        li.c-section-advantages__item
          +advantageItem({
            title: "Lifetime Warranty",
            text: "All our products — whether we make them or not — are backed by lifetime warranty.",
            style: `font-size: 30px; font-family: "playfairdisplay-regular", sans-serif;`
          })
        li.c-section-advantages__item
          +advantageItem({
            svg: "shopping-cart",
            svgMode: "red",
            title: "Shopping Experience",
            text: "All our products — whether we make them or not — are backed by lifetime warranty.",
            style: `font-size: 32px; font-family: "pacifico-regular", sans-serif;`
          })
        li.c-section-advantages__item
          +advantageItem({
            svg: "delivery-truck-1",
            svgMode: "light-grey",
            title: "On-time Delivery",
            text: "All our products — whether we make them or not — are backed by lifetime warranty.",
            style: `font-size: 34px; font-family: "raleway-regular", sans-serif;`
          })
        li.c-section-advantages__item
          +advantageItem({
            svg: "chat",
            svgMode: "light-pink",
            title: "Best in Class Service",
            text: "All our products — whether we make them or not — are backed by lifetime warranty.",
            style: `font-size: 28px; font-family: "roboto-regular", sans-serif;`
          })