mixin service-card(args)
  - let number = args.number || '00';
  - let text = args.text || 'Default text';
  - let svg = args.svg || 'circle';

  .c-service-card 
      span.c-service-card__number=number  
      h2.c-service-card__title=text 
      .c-service-card__icon
        +icon({link:'icon-'+svg})