extends ./src/_extends/common

block title
  title About us

block content
  +header()
  +section-banner-adventure()
  +section-advantages()
  +section-establishment()
  +section-contact-us()
  +footer()
