extends ./src/_extends/common

block title
  title About us

block content
  +header()
  +banner-adventure()
  +section-advantages()
  +section-establishment()
  +section-about-us()
  +banner-contact-us()
  +footer()