extends ./src/_extends/common

block title
  title About us

block content
  +header()
  +banner({
    style: `background-image: url('./assets/images/banner3.jpg')`,
    alt: 'man on mountain',
    infoHeader: 'Your Adventure Awaits',
    infoClass: ' d-flex',
    infoText: "Acme Outdoors has everything you need to help you get started today. Check out our wonderful collection of gear that will make your next adventure complete."
  })
  +banner({
    style: `background-image: url('./assets/images/banner4.jpg')`,
    alt: 'man on mountain and tree',
    infoHeader: 'Need Help?',
    infoClass: ' justify-content-end text-end',
    infoText: "Need help or assistance? Our team is standing by to make sure you get the help you need. Whether you need to adjust an order or delivery details, we're ready to help!"
  })
  +section-establishment()
  +footer()
