@font-face {
  font-family: "sen-bold";
  src: url("../assets/fonts/sen/Sen-Bold.woff2") format("woff2"),
    url("../assets/fonts/sen/Sen-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "sen-regular";
  src: url("../assets/fonts/sen/Sen-Regular.woff2") format("woff2"),
    url("../assets/fonts/sen/Sen-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

body {
  background-color: #fff;
  font-size: 16px;
  font-family: "", sans-serif;
  color: #fff;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke: currentColor;
  fill: currentColor;
}
.icon:not(.has-stroke) {
  stroke-width: 0;
}

*::-moz-selection {
  background-color: rgba(255, 255, 255, 0.3);
}

*::selection {
  background-color: rgba(255, 255, 255, 0.3);
}

*::-webkit-scrollbar {
  border-radius: 10px;
  position: relative;
  z-index: 999;
  width: 6px;
}

*::-webkit-scrollbar-track {
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 3px rgba(255, 255, 255, 0.8);
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  outline: none;
}

.wrapper {
  max-width: 1200px;
  padding: 0 50px;
  margin: 0 auto;
  width: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img,
svg {
  width: 100%;
  height: 100%;
}

.e-logo {
  width: 75px;
  height: 75px;
  display: block;
}
.e-logo__text {
  color: #fff;
}
.e-logo--white {
  fill: #fff;
}

@-webkit-keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.icon {
  height: 100%;
  width: 100%;
}

.e-link {
  width: 100%;
  height: 100%;
  display: block;
}
.e-link--lighter-text {
  color: white;
  padding: 11px;
}
.e-link--lighter-text:hover {
  border-radius: 5px;
  background-color: #000;
}

.e-button {
  background-color: transparent;
  border: 1px solid #fff;
  margin-bottom: 115px;
  border-radius: 5px;
  padding: 5px 25px;
  cursor: pointer;
  outline: none;
}
.e-button:hover {
  background-color: #f2505d;
}

.e-social-link {
  width: 35px;
  height: 35px;
  margin: 25px 10px;
  color: #fff;
}
.e-social-link__link {
  font-size: 30px;
}
.e-social-link:hover {
  color: #f2505d;
}

.c-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100px;
  background-color: #f25252;
  z-index: 10;
}
.c-header__wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}
.c-header__logo {
  height: 75px;
  width: 150px;
  display: block;
}
.c-header__logo__wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.c-footer {
  min-height: 200px;
  background-color: #222222;
}
.c-footer__wrapper {
  max-width: 1300px;
  padding: 0 50px;
  margin: 0 auto;
  width: 100%;
}
.c-footer__top {
  padding-top: 25px;
}

.c-navigation {
  width: 100%;
  max-width: 1200px;
  height: 50px;
}
.c-navigation__wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.c-navigation__item {
  min-width: 70px;
  height: 40px;
  text-align: center;
  padding-left: 10px;
}

.section-establishment {
  padding: 165px 0;
}
.section-establishment__wrapper {
  font-family: "sen-regular";
  max-width: 1300px;
  display: flex;
}
.section-establishment__media {
  border: 1px solid black;
  background-color: white;
  border-radius: 5px;
  max-width: 600px;
  margin: 50px 0;
  color: black;
  padding: 15px;
  z-index: 2;
}
.section-establishment__media-text {
  padding: 20px 0 10px;
}
.section-establishment__meet {
  padding: 85px 50px 85px 225px;
  background-color: black;
  margin-left: -175px;
  border-radius: 5px;
  color: white;
  z-index: 1;
}
.section-establishment__meet-title {
  font-family: "sen-bold";
  font-size: 32px;
}
.section-establishment__meet-text {
  padding-bottom: 10px;
}

.c-banner {
  background-image: url("./assets/images/banner1.jpg");
  background-size: cover;
  background-position: center center;
  margin-top: 100px;
}
.c-banner__wrapper {
  max-width: 1300px;
  padding: 0 50px;
  margin: 0 auto;
  width: 100%;
}
.c-banner__block {
  width: 35%;
}
.c-banner__main-title {
  font-family: "sen-bold";
  font-size: 62px;
  line-height: 1.3;
  margin: 150px 0 20px;
}
.c-banner__sub-title {
  font-family: "sen-regular";
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 30px;
}

@font-face {
  font-family: "sen-bold";
  src: url("../assets/fonts/sen/Sen-Bold.woff2") format("woff2"),
    url("../assets/fonts/sen/Sen-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "sen-regular";
  src: url("../assets/fonts/sen/Sen-Regular.woff2") format("woff2"),
    url("../assets/fonts/sen/Sen-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

body {
  background-color: #fff;
  font-size: 16px;
  font-family: "", sans-serif;
  color: #fff;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke: currentColor;
  fill: currentColor;
}
.icon:not(.has-stroke) {
  stroke-width: 0;
}

*::-moz-selection {
  background-color: rgba(255, 255, 255, 0.3);
}

*::selection {
  background-color: rgba(255, 255, 255, 0.3);
}

*::-webkit-scrollbar {
  border-radius: 10px;
  position: relative;
  z-index: 999;
  width: 6px;
}

*::-webkit-scrollbar-track {
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 3px rgba(255, 255, 255, 0.8);
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  outline: none;
}

.wrapper {
  max-width: 1200px;
  padding: 0 50px;
  margin: 0 auto;
  width: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img,
svg {
  width: 100%;
  height: 100%;
}

.e-logo {
  width: 75px;
  height: 75px;
  display: block;
  -webkit-animation: rotate 20s infinite linear;
  animation: rotate 20s infinite linear;
}
.e-logo > svg {
  display: block;
}
.e-logo__text {
  color: #fff;
}
.e-logo--white {
  fill: #fff;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.icon {
  height: 100%;
  width: 100%;
}

.e-link {
  width: 100%;
  height: 100%;
  display: block;
}
.e-link--lighter-text {
  color: white;
  padding: 11px;
}
.e-link--lighter-text:hover {
  border-radius: 5px;
  background-color: #000;
}

.e-button {
  background-color: transparent;
  border: 1px solid #fff;
  margin-bottom: 115px;
  border-radius: 5px;
  padding: 5px 25px;
  cursor: pointer;
  outline: none;
}
.e-button:hover {
  background-color: #f2505d;
}

.e-social-link {
  width: 35px;
  height: 35px;
  margin: 25px 10px;
  color: #fff;
}
.e-social-link__link {
  font-size: 30px;
}
.e-social-link:hover {
  color: #f2505d;
}

.c-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100px;
  background-color: #f25252;
  z-index: 10;
}
.c-header__wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}
.c-header__logo {
  height: 75px;
  width: 150px;
  display: block;
}
.c-header__logo__wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.c-footer {
  min-height: 200px;
  background-color: #222222;
}
.c-footer__wrapper {
  max-width: 1300px;
  padding: 0 50px;
  margin: 0 auto;
  width: 100%;
}
.c-footer__top {
  padding-top: 25px;
}

.c-navigation {
  width: 100%;
  max-width: 1200px;
  height: 50px;
}
.c-navigation__wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.c-navigation__item {
  min-width: 70px;
  height: 40px;
  text-align: center;
  padding-left: 10px;
}

.section-establishment {
  padding: 165px 0;
}
.section-establishment__wrapper {
  font-family: "sen-regular";
  max-width: 1300px;
  display: flex;
}
.section-establishment__media {
  border: 1px solid black;
  background-color: white;
  border-radius: 5px;
  max-width: 600px;
  margin: 50px 0;
  color: black;
  padding: 15px;
  z-index: 2;
}
.section-establishment__media-text {
  padding: 20px 0 10px;
}
.section-establishment__meet {
  padding: 85px 50px 85px 225px;
  background-color: black;
  margin-left: -175px;
  border-radius: 5px;
  color: white;
  z-index: 1;
}
.section-establishment__meet-title {
  font-family: "sen-bold";
  font-size: 32px;
}
.section-establishment__meet-text {
  padding-bottom: 10px;
}

.c-banner {
  background-image: url("./assets/images/banner1.jpg");
  background-size: cover;
  background-position: center center;
  margin-top: 100px;
}
.c-banner__wrapper {
  max-width: 1300px;
  padding: 0 50px;
  margin: 0 auto;
  width: 100%;
}
.c-banner__block {
  width: 35%;
}
.c-banner__main-title {
  font-family: "sen-bold";
  font-size: 62px;
  line-height: 1.3;
  margin: 150px 0 20px;
}
.c-banner__sub-title {
  font-family: "sen-regular";
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 30px;
}
