@font-face {
  font-family: "Sen-Bold";
  src: url("./assets/fonts/sen/Sen-Bold.woff2") format("woff2"), url("./assets/fonts/sen/Sen-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Sen-Regular";
  src: url("./assets/fonts/sen/Sen-Regular.woff2") format("woff2"), url("./assets/fonts/sen/Sen-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

body {
  background-color: #fff;
  font-size: 16px;
  font-family: "Sen-Regular", sans-serif;
  color: #fff;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke: currentColor;
  fill: currentColor;
}

.icon:not(.has-stroke) {
  stroke-width: 0;
}

*::-moz-selection {
  background-color: rgba(242, 82, 82, 0.3);
}

*::selection {
  background-color: rgba(242, 82, 82, 0.3);
}

*::-webkit-scrollbar {
  border-radius: 10px;
  position: relative;
  z-index: 999;
  width: 6px;
}

*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 3px rgba(242, 82, 82, 0);
          box-shadow: inset 0 0 3px rgba(242, 82, 82, 0);
  background-color: rgba(38, 38, 38, 0.6);
}

*::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 3px #262626;
          box-shadow: inset 0 0 3px #262626;
  background-color: #262626;
  outline: none;
}

.wrapper {
  max-width: 1300px;
  padding: 0 50px;
  margin: 0 auto;
  width: 100%;
}

a {
  text-decoration: none;
}

a:hover {
  color: #fff;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img,
svg {
  width: 100%;
  height: 100%;
}

.l-common {
  padding-top: 75px;
}

.e-logo {
  width: 100%;
  height: 100%;
  color: #fff;
}

.e-logo__wrapper {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.e-logo__text {
  font-family: "Sen-Bold", sans-serif;
  font-size: 0.75em;
  letter-spacing: 4px;
}

.e-logo__svg {
  min-width: 75px;
  width: 100%;
  height: 100%;
  -webkit-animation: rotate 20s infinite linear;
          animation: rotate 20s infinite linear;
}

.e-link {
  width: 100%;
  height: 100%;
  -webkit-transition: 0.35s cubic-bezier(0.4, 0, 0.2, 1);
  transition: 0.35s cubic-bezier(0.4, 0, 0.2, 1);
}

.e-link--lighter-text {
  color: #fff;
  padding: 5px 12px;
}

.e-link--lighter-text:hover {
  border-radius: 5px;
  background-color: #262626;
  color: #fff;
  -webkit-transition: 0.35s cubic-bezier(0.4, 0, 0.2, 1);
  transition: 0.35s cubic-bezier(0.4, 0, 0.2, 1);
}

.e-burger-menu {
  display: none;
}

.e-burger-menu__bar {
  background-color: #262626;
  -webkit-transition: 0.35s cubic-bezier(0.4, 0, 0.2, 1);
  transition: 0.35s cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 20px;
  margin: 5px auto;
  display: block;
  height: 3px;
  width: 25px;
}

@media (max-width: 767px) {
  .e-burger-menu {
    cursor: pointer;
    display: block;
  }
  .e-burger-menu.active .e-burger-menu__bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
            transform: translateY(8px) rotate(45deg);
  }
  .e-burger-menu.active .e-burger-menu__bar:nth-child(2) {
    opacity: 0;
  }
  .e-burger-menu.active .e-burger-menu__bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
            transform: translateY(-8px) rotate(-45deg);
  }
}

.e-button {
  background-color: transparent;
  border: 1px solid #fff;
  margin-bottom: 115px;
  border-radius: 5px;
  padding: 5px 25px;
  cursor: pointer;
  outline: none;
}

.e-button:hover {
  background-color: #f2505d;
}

.e-social-link {
  width: 35px;
  height: 35px;
  margin: 25px 10px;
  color: #fff;
}

.e-social-link__link {
  font-size: 30px;
}

.e-social-link:hover {
  color: #f2505d;
}

.e-photocard {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30%;
          flex: 0 0 30%;
}

.e-photocard__name {
  font-family: "Sen-Bold", sans-serif;
  font-style: italic;
  font-size: 1.125em;
  margin-top: 10px;
  text-align: center;
}

@media (max-width: 767px) {
  .e-photocard__name {
    max-width: 100px;
  }
}

.e-photocard__photo {
  max-width: 210px;
}

.loading {
  background: #141414;
  text-transform: uppercase;
  font-family: "Cabin Condensed", sans-serif;
  font-weight: bold;
  font-size: 100pt;
  text-align: center;
  height: 120px;
  line-height: 110px;
  vertical-align: bottom;
  position: absolute;
  left: 0;
  right: 0;
  top: 45%;
  bottom: 0;
  display: block;
}

.loading-2 {
  top: 300px;
  width: 473px;
  height: 97px;
  font-size: 0;
  background: rgba(255, 255, 255, 0.06);
  margin: 0 auto;
}

.ff {
  position: absolute;
  font-size: 12pt;
  top: -20px;
  color: white;
  line-height: 12pt;
}

.loading-2-text {
  background-image: url("../../assets/images/red.jpeg");
  width: 473px;
  height: 97px;
  display: inline-block;
}

@-webkit-keyframes wave-animation {
  0% {
    background-position: 0 bottom;
  }
  100% {
    background-position: 200px bottom;
  }
}

@keyframes wave-animation {
  0% {
    background-position: 0 bottom;
  }
  100% {
    background-position: 200px bottom;
  }
}

@-webkit-keyframes loading-animation {
  0% {
    background-size: 200px 0px;
  }
  100% {
    background-size: 200px 200px;
  }
}

@keyframes loading-animation {
  0% {
    background-size: 200px 0px;
  }
  100% {
    background-size: 200px 200px;
  }
}

.wave {
  background-image: url("../../assets/images/red.jpeg");
  -webkit-background-clip: text;
  background-clip: text;
  color: rgba(0, 0, 0, 0);
  text-shadow: 0px 0px rgba(255, 255, 255, 0.06);
  -webkit-animation: wave-animation 2s infinite linear, loading-animation 10s infinite linear alternate;
          animation: wave-animation 2s infinite linear, loading-animation 10s infinite linear alternate;
  background-size: 200px 100px;
  background-repeat: repeat-x;
  opacity: 1;
}

.wave-2 {
  background-clip: initial;
  display: inline-block;
}

.c-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 75px;
  background-color: #f25252;
  z-index: 10;
}

.c-header__wrapper {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

.c-header__logo {
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.c-header__navigation {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 50px;
}

.c-header__navigation__wrapper {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.c-footer {
  min-height: 200px;
  background-color: #222222;
}

.c-footer__wrapper {
  max-width: 1300px;
  padding: 0 50px;
  margin: 0 auto;
  width: 100%;
}

.c-footer__logo {
  width: 200px;
  height: 75px;
}

.c-footer__logo__wrapper {
  width: 100%;
  height: 100%;
}

.c-footer__top {
  padding-top: 25px;
}

@media (max-width: 479px) {
  .c-footer__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.c-navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.c-navigation__item {
  min-width: 70px;
  text-align: center;
  font-size: 0.9375em;
  padding-left: 50px;
}

@media (max-width: 767px) {
  .c-navigation__list {
    width: 100%;
    height: 100%;
    padding: 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    position: fixed;
    z-index: 1000;
    right: -100%;
    top: 75px;
    background-color: #f25252;
    text-align: center;
    -webkit-transition: 0.35s cubic-bezier(0.4, 0, 0.2, 1);
    transition: 0.35s cubic-bezier(0.4, 0, 0.2, 1);
  }
  .c-navigation__list.active {
    right: 0;
  }
  .c-navigation__item {
    font-size: 1em;
    padding-left: 0;
    margin-bottom: 15px;
  }
}

.c-banner {
  background-size: cover;
  background-position: center center;
  min-height: 550px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.c-banner__wrapper {
  max-width: 1300px;
  padding: 0 50px;
  margin: 0 auto;
  width: 100%;
  margin: 100px auto 0 auto;
}

.c-banner__info {
  max-width: 420px;
  width: 100%;
}

.c-banner__info__main-title {
  font-family: "sen-bold";
  font-size: 62px;
  line-height: 1.3;
  margin: 0 0 20px;
}

.c-banner__info__title {
  font-family: "sen-regular";
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 30px;
}

.c-banner .more-width .c-banner__info {
  max-width: 550px;
}

.c-banner .more-width .c-banner__info__main-title {
  font-size: 45px;
}

.c-banner .more-width .c-banner__info__sub-title {
  max-width: 420px;
}

.c-section-about-us {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 100px;
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.c-section-about-us__wrapper {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1300px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-advantages {
  color: black;
}

.section-advantages__wrapper {
  max-width: 1095px;
  margin: 0px auto;
}

.section-advantages__header {
  position: relative;
  margin-bottom: 55px;
  padding: 0 50px;
}

.section-advantages__title {
  margin-top: 30px;
  font-weight: bold;
  font-size: 32px;
  line-height: 54px;
  text-align: center;
}

.section-advantages__subtitle {
  font-size: 16px;
  margin-top: 20px;
  text-align: center;
}

.section-advantages__row {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  justify-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px 45px;
}

.section-advantages__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  padding: 0 35px;
  margin-bottom: 15px;
}

@media (max-width: 1023px) {
  .section-advantages__column {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 50%;
            flex: 1 0 50%;
    min-width: 250px;
  }
}

.item-advantages__icon {
  margin-bottom: 15px;
  display: inline-block;
  width: 2.5em;
  height: 2.5em;
  stroke-width: 0;
  fill: #f25252;
}

.item-advantages__title {
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 15px;
}

.item-advantages__text {
  font-weight: 100;
  font-size: 16px;
  line-height: 26px;
}

.section-establishment {
  padding: 165px 0;
}

.section-establishment__wrapper {
  font-family: "sen-regular";
  max-width: 1300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-establishment__media {
  border: 1px solid black;
  background-color: white;
  border-radius: 5px;
  margin: 50px 0;
  color: black;
  padding: 15px;
  z-index: 2;
}

.section-establishment__media-text {
  padding: 20px 0 10px;
}

.section-establishment__meet {
  padding: 85px 50px 85px 225px;
  background-color: black;
  margin-left: -175px;
  border-radius: 5px;
  color: white;
  z-index: 1;
}

.section-establishment__meet-title {
  font-family: "sen-bold";
  font-size: 32px;
}

.section-establishment__meet-text {
  padding-bottom: 10px;
}

.c-section-contact-us {
  margin-top: 100px;
}
