extends ./src/_extends/common

block title 
  title Home

block style 
  style(type="text/css").
    #page {
      display: none
    }
    #loading {
      display: block
    }

block loading 
  +loading()

block content
  +header()
<<<<<<< HEAD
  
  //- +footer()
=======
  +banner()
  +section-establishment()
  +footer()
>>>>>>> deaf0078f88f7101992126229a20b8abaf1db149
