mixin logo(args)

  a(href='./index.html').e-logo
    .e-logo__wrapper
      svg(class="icon icon-logo").e-logo__svg
        use(xlink:href="#icon-logo")
        use(xlink:href="#icon-logo-dots")
        
      span.e-logo__text BEETROOTERS 
