.c-banner {
  @include backgroundCoverCenter;
  min-height: 550px;
  
  @include media ('<phone') {
    background-position: 0px 0px, 80% 50%;
  }
  
  &__wrapper {
    margin: 130px auto 0 auto;

    @include media ('<tablet') {
      flex-direction: column;
    }

    @include media ('<phone'){
      margin: 230px auto 50px auto;
      padding: 0 20px;
    }

    &--logo-mode {
      justify-content: space-between;
    }

    &--width-mode {

      .c-banner {

        &__info {
          max-width: 535px;
        }
        
        &__title {
          font-size: em($fs-h2);

          @include media ('<phone'){
            font-size: em($fs-soc-icon);
            max-width: 100%;
          }
        }
  
        &__sub-title {
          max-width: 425px;
        }
      }
    }
  }

  &__info {
    max-width: 420px;
  }

  &__title {
    font-family: $f-sen-bold;
    font-size: em($fs-h1);
    line-height: $lh-base;
    margin: 0 0 20px;

    @include media ('<phone'){
      font-size: em($fs-soc-icon);
      max-width: 160px;
    }

    &--display-none {
      display: none;
    }
  }

  &__sub-title {
    font-family: $f-sen-regular;
    font-size: em($fs-sub);
    line-height: $lh-big;
    margin-bottom: 30px;
  }

  &__img {
    @include size(225);
    overflow: hidden;

    @include media ('<tablet') {
      margin: 10px auto;
    }

    @include media ('<phone') {
      display: none;
    }

    &--display-none {
      display: none;
    }
  }
}