.c-banner {
  @include backgroundCoverCenter;
  min-height: 550px;

  @include media ('<phone') {
    background-position: 0px 0px, 80% 50%;
  }

  
  &__wrapper {
    margin: 130px auto 0 auto;

    @include media ('<phone'){
      padding: 0 20px;
      margin: 230px auto 50px auto;
    }

    &--width-mode {

      .c-banner {

        &__info {
          max-width: 535px;
        }
        
        &__title {
          font-size: $fs-h2 + px;

          @include media ('<phone'){
            font-size: $fs-h1-m + px;
            max-width: 100%;
          }
        }
  
        &__sub-title {
          max-width: 425px;
        }
      }
    }
  }

  &__info {
    max-width: 420px;
    width: 100%;
  }

  &__title {
    font-family: "sen-bold";
    font-size: $fs-h1 + px;
    line-height: $lh-base;
    margin: 0 0 20px;

    @include media ('<phone'){
      font-size: $fs-h1-m + px;
      max-width: 160px;
    }
  }

  &__sub-title {
    font-family: "sen-regular";
    font-size: $fs-sub + px;
    line-height: $lh-big;
    margin-bottom: 30px;
  }
}