.c-banner {
  @include backgroundCoverCenter;
  min-height: 550px;

  &__wrapper {
    margin: 130px auto 0 auto;

    @include media ('<phone'){
      margin: 200px auto 20px auto;
    }

    &--width-mode {
      .c-banner {
        &__info {
          max-width: 535px;
        }

        &__title {
          font-size: $fs-h2 + px;
        }

        &__sub-title {
          max-width: 425px;
        }
      }
    }
  }

  &__info {
    max-width: 420px;
    width: 100%;

    &__title {
      font-family: "Sen-Bold";
      font-size: em($fs-h1);
      line-height: $lh-base;
      margin: 0 0 20px;

      @include media ('<phone'){
        font-size: em($fs-soc-icon);
      }
    }

    &__sub-title {
      font-family: "Sen-Regular";
        font-family: "Sen-Regular";
        font-size: em($fs-sub);
        line-height: $lh-big;
        margin-bottom: 30px;

        @include media ('<phone'){
          font-size: em($fs-lowRes);
        }
      }
    }

    .more-width {
      .c-banner__info {
        max-width: 550px;

        &__main-title {
          font-size: em($fs-h2);

          @include media ('<phone'){
            font-size: em($fs-soc-icon);
          }
        }

        &__sub-title {
          max-width: 420px;
          
          @include media ('<phone'){
            font-size: em($fs-lowRes);
          }
        
        }
      }
    }
  }
