.c-banner-contact {
  background-image: linear-gradient(
      360deg,
      rgb(34, 34, 34),
      rgba(34, 34, 34, 0)
    ),
    url("./assets/images/banner-contact.jpeg");
  @include backgroundCoverCenter;
  font-family: "Sen-Bold";
  min-height: 550px;

  &__wrapper {
    margin: 0 auto;

    @include media("<desktop") {
      margin: 50px auto 20px;
    }
  }

  &__title {
    width: 100%;

    font-size: em(38);
    line-height: $lh-base;
    margin: 0 0 20px;

    @include media("<tablet") {
      font-size: em(34);
      text-align: center;
    }

    @include media("<phone") {
      display: none;
    }
  }

  &__tiles {
    @include media("<tablet") {
      flex-direction: column;
      align-items: center;
    }
  }

  &__item {
    background-color: $c-white;
    color: $c-darker-grey;
    border-radius: 5px;
    padding: 40px;
    max-width: 350px;
    margin-right: 20px;

    @include media("<tablet") {
      margin-bottom: 20px;
      padding: 20px;
      max-width: 280px;
      margin-right: 0;
    }

    &__icon {
      margin-bottom: 30px;
      color: $c-light-red;
      @include size(40);
    }

    &__title {
      font-weight: 900;
      font-size: em(30);
      margin-bottom: 10px;
    }

    &__text {
      font-family: "Sen-Regular";
      font-size: em(14);
      max-width: 240px;
      font-weight: 300;
      text-align: center;
      min-height: 50px;
    }

    // &__button {
    //   padding: 5px 20px;
    //   max-width: fit-content;
    //   background-color: $c-light-red;
    //   border-radius: 5px;
    //   font-size: em(14);
    // }
  }
}
