@import "./header";
@import "./footer";
@import "./navigation";
@import "./banner";
@import "./section-services";
@import "./section-about-us";
@import "./section-advantages";
@import "./section-establishment";
@import "./section-recommendation";
@import "./banner-contact-us";
@import "./service-card";
@import "./loading";
@import "./banner-contact";
@import "./section-form.scss";
@import "./form-contact";
