@import "./node_modules/compass-mixins/lib/compass";

body {
  width: 100%;
  height: 100%;
}
.loading {
  text-transform: uppercase;
  font-family: "Cabin Condensed", sans-serif;
  font-weight: bold;
  font-size: 100pt;
  text-align: center;
  height: 120px;
  line-height: 110px;
  vertical-align: bottom;
  position: absolute;
  left: 0;
  right: 0;
  top: 45%;
  bottom: 0;
  display: block;

  @include media("<tablet") {
    font-size: 60pt;
    height: 90px;
  }

  @include media("<phone") {
    font-size: 40pt;
    height: 80px;
  }
}

.loading-2 {
  top: 300px;
  width: 473px;
  height: 97px;
  font-size: 0;
  background: rgba(255, 255, 255, 0.06);
  margin: 0 auto;
}
.ff {
  position: absolute;
  font-size: 12pt;
  top: -20px;
  color: white;
  line-height: 12pt;
}
.loading-2-text {
  background-image: url("./assets/images/red.jpeg");
  width: 473px;
  height: 97px;
  display: inline-block;
}
@keyframes wave-animation {
  0% {
    background-position: 0 bottom;
  }
  100% {
    background-position: 200px bottom;
  }
}
@keyframes loading-animation {
  0% {
    background-size: 200px 0px;
  }
  100% {
    background-size: 200px 200px;
  }
}
.wave {
  background-image: url("./assets/images/red.jpeg");
  @include background-clip(text);
  color: rgba(0, 0, 0, 0);
  text-shadow: 0px 0px rgba(255, 255, 255, 0.06);
  animation: wave-animation 2s infinite linear,
    loading-animation 5s infinite linear alternate;
  background-size: 200px 100px;
  background-repeat: repeat-x;
  opacity: 1;

  @include media("<tablet") {
    animation: wave-animation 2s infinite linear,
      loading-animation 7.5s infinite linear alternate;
  }

  @include media("<phone") {
    animation: wave-animation 2s infinite linear,
      loading-animation 10s infinite linear alternate;
  }
}
.wave-2 {
  @include background-clip(initial);
  display: inline-block;
}
