.c-navigation{
  width: 100%;
  max-width: 1200px;
  height: 50px;
  &__wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  &__item{
   min-width: 70px;
   height: 40px;
   text-align: center;

   
  
  }
}