// Перша обгортка секції в ряд з переносом
.c-section-about-us{
  margin-top: 100px;
  color: $c-black;
  display: flex;
  justify-content: center;
  width: 100%;
  
  &__wrapper{
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    display:flex;
    }
  
  
  
  // Друга секція в колонку
    &__info-item{
    flex-direction: column;
    align-items: center;
    margin-left: 10px;
    // max-width: 390px;
    margin: 10px;
    display:flex;
  }
    &__name{
    font-family: "sen-regular";
    font-style: italic;
    font-size: 20px;
    font-weight: 600;
    margin-top: 10px;
    }
  &__photo{
    display: flex;
    max-width: 210px;
}
    
}