// Перша обгортка секції в ряд з переносом
.c-section-about-us{
  justify-content: center;
  margin-top: 100px;
  color: $c-black;
  display: flex;
  width: 100%;
  
  &__wrapper{
    justify-content: center;
    align-items: center;
    max-width: 1300px;
    flex-wrap: wrap;
    display:flex;
    }
  
  
  
  // Друга секція в колонку
    &__info-item{
    flex-direction: column;
    align-items: center;
    margin: 10px;
    display:flex;
  }
    &__name{
    font-family: $f-sen-bold;
    font-style: italic;
    font-size: $fs-sub;
    margin-top: 10px;
    }
  &__photo{
    border-radius: 10%;
    max-width: 210px;
}
    
}