// Перша обгортка секції в ряд з переносом
.c-section-about-us{
  justify-content: center;
  margin-top: 100px;
  color: $c-black;
  display: flex;
  width: 100%;
  
  &__wrapper{
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    display:flex;
    }
}