.section-recommendation {

    padding: 165px 0;
    flex-direction: column;

    //section-recommendation = WRAPPER
    &__wrapper {
        font-family: "sen-regular";
        display: flex;
    }
    
    //section-recommendation = WHITE BLOCK
    //use for client photo only
    &__clrecphoto {
        margin: 20px 0;
        z-index: 2;
        display: flex;
        width: 30%;
        border-radius: 10px;
    }

    //section-recommendation = BLACK BLOCK
    //use for recommendation text (incl. Client Name; Project & Recommendation Date; Recommendation Text)
    &__clrecmain {
        padding: 85px 50px 85px 225px;
        margin-left: -115px;
        z-index: 1;
        width: 80%;
        border-radius: 10px;
        background-color: $c-black;
        color: $c-white;
    }

    //section-recommendation = Client Name
    //adjusts client name display settings
    &__recommendationclient {
        font-family: $f-sen-bold;
        size: 45px;
    }

    //section-recommendation = Project & Recommendation Date 
    //adjusts project name and recommendation date display settings
    &__recommendationdata {
        font-family: $f-sen-regular;
        size: 16px;
        color: $c-white;
    }

    //section-recommendation = Recommendation Text 
    //adjusts recommendation text display settings
    &__recommendationtext {
        font-family: $f-sen-regular;
        size: 16px;
    }
}