.section-advantages {
  color: black;

  &__wrapper {
    max-width: 1095px;
    margin: 0px auto;
  }

  &__header {
    position: relative;
    margin-bottom: 55px;
    padding: 0 50px;
  }

  &__title {
    margin-top: 30px;
    font-weight: bold;
    font-size: 32px;
    line-height: 54px;
    text-align: center;
  }

  &__subtitle {
    font-size: 16px;
    margin-top: 20px;
    text-align: center;
  }

  &__row {
    flex-wrap: wrap;
    justify-items: center;
    display: flex;
    margin: 0px 45px;
  }

  &__column {
    flex: 0 0 25%;
    padding: 0 35px;
    margin-bottom: 15px;

    @include media("<desktop") {
      flex: 1 0 50%;
      min-width: 250px;
    }
  }
}

.item-advantages {
  &__icon {
    margin-bottom: 15px;
    display: inline-block;
    width: 2.5em;
    height: 2.5em;
    stroke-width: 0;
    fill: #f25252;
  }

  &__title {
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 15px;
  }

  &__text {
    font-weight: 100;
    font-size: 16px;
    line-height: 26px;
  }
}
