.c-section-services {
  font-family: $f-sen-regular;
  justify-content: center;
  align-items: center;
  color: $c-black;
  display: flex;
  width: 100%;
  &__wrapper {
    margin: 65px 0;
    flex-direction: column;
    padding: 0 15px;
    display: flex;
    width: 100%;
  }
  &__info {
    justify-content: space-between;
    display: flex;
    margin-bottom: 50px;
    padding: 0 10px;
    @include media("<desktop") {
      flex-direction: column;
      max-width: 700px;
      margin: 0 auto;
    }
    &__title {
      margin-right: 50px;
      line-height: $lh-base;
      max-width: 600px;
      @include media("<desktop") {
        margin-right: 0;
        max-width: 700px;
        margin-bottom: 20px;
      }
    }
    h2 {
      font-family: "Sen-Bold";
      font-size: em($fs-h2);
    }
    &__subtitle {
      max-width: 450px;
      @include media("<desktop") {
        max-width: 700px;
      }
    }
  }
  // content
  .c-service-content {
    width: 100%;
    &__wrapper {
      justify-content: space-between;
      display: flex;
      width: 100%;
      @include media("<desktop") {
        flex-direction: column;
        align-items: center;
      }
    }
    &__item {
      width: 100%;
      padding: 0 10px;
      max-width: 320px;
      @include media("<desktop") {
        width: 100%;
        margin-bottom: 40px;
        max-width: 700px;
      }
    }
    
  }
}
