.c-service-card {
  background-color: $c-black;
  font-family: $f-sen-bold;
  justify-content: center;
  font-size: em($fs-h2);
  align-items: center;
  border-radius: 10px;
  margin-bottom: 50px;
  position: relative;
  min-height: 350px;
  overflow: hidden;
  color: $c-white;
  display: flex;
  width: 100%;
  &__number {
    position: absolute;
    left: 15px;
    top: 15px;
  }
  &__title {
    text-align: center;
  }
  &__icon {
    width: 200px;
    height: 200px;
    padding: 5px;
    position: absolute;
    right: -50px;
    bottom: -100px;
  }
}
#icon-rectangle {
  fill: none;
}
