.e-burger-menu {
  display: none;

  &__bar {
    background-color: $c-darker-grey;
    transition: $t-normal;
    border-radius: 20px;
    margin: 5px auto;
    display: block;
    height: 3px;
    width: 25px;
  }

  @include media("<tablet") {
    cursor: pointer;
    display: block;

    &.active &__bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
    }

    &.active &__bar:nth-child(2) {
      opacity: 0;
    }

    &.active &__bar:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
    }
  }
}
