.e-link {
  display: inline-block;
  width: fit-content;

  &--lighter-text {
    color: white;
    padding: 11px;

    &:hover {
      border-radius: 5px;
      background-color: $c-black;
    }
  }
}