.e-logo {
  width: 100%;
  height: 100%;
  color: $c-white;

  &__wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__text{
    font-family: $f-sen-bold;
    font-size: em(12);
    letter-spacing: 4px;
  }
  
  &__svg {
    max-width: 75px;
    width: 100%;
    height: 100%;
    animation: rotate 20s infinite linear;
  }
}
