.e-logo {
  @include size(75);
  display: block;
  animation: rotate 20s infinite linear;
  > svg {
    display: block;
  }
  &__text {
    color: $c-white;
  }
  &--white {
    fill: $c-white;
  }
}
// TODO Винести в окремий файл keyframes
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
